catkin-pkg==0.4.16
certifi==2019.11.28
chardet==3.0.4
docutils==0.16
idna==2.9
Kivy==1.11.1
Kivy-Garden==0.1.4
lxml==4.5.0
numpy==1.18.1
numpy-stl==2.10.1
Pygments==2.5.2
pyparsing==2.4.6
python-dateutil==2.8.1
python-utils==2.3.0
PyYAML==5.3
requests==2.23.0
scipy==1.4.1
six==1.14.0
git+https://github.com/ros/urdf_parser_py.git
urllib3==1.25.8
